h1{
    text-align: center;
    color: yellowgreen;
}
.bg-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('image.jpg');
  background-size: cover;
background-position: center;
  background-repeat: no-repeat;

  
}
body {
    font-family: Arial, sans-serif;
    border: #2c75c8;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 20px;
}



p {
    width: 200px;
    font-size: 18px;
    margin: 12px 0;
    color: #97c5fa;
    background-color: #f4f4f4;
    border: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(164, 164, 164);
    background: #90ff28;
}
button:hover {
    background: #28e324;
    color: white;
}